* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  
  
  
  .hidden {
    display: none;
  }
  
  
  
  .headermed .navbarmed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center ;
        -ms-flex-align: center;
            align-items: center;
    max-width: 90rem;
    width: 100%;
    padding: 1rem 4rem;
    margin: 0 ;
  }
  
  .headermed .navbarmed .brand {
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: inherit;
    text-transform: uppercase;
    color: #252a32;
  }
  
  .headermed .navbarmed .menumed {
    margin-left: 125% !important; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .headermed .navbarmed .menumed-item:not(:first-child) {
    margin-left: 0rem;
    
  }
  
  .headermed .navbarmed .menumed-item a {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: inherit;
    color:#80F;
    text-transform: uppercase;
  }
  
  @media only screen and (max-width: 768px) {
    .headermed .navbarmed {
      padding: 1rem 2rem;
      margin: 0 auto;
    }
    .headermed .navbarmed .wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0;
      background: #252a32;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    .headermed .navbarmed .wrapper .menumed {
      
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: absolute;
      top: 40%;/* HAUTEUR menumed WRAPPER */
      width: 100%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    .headermed .navbarmed .wrapper .menumed-item {
      
      padding-top: 1%;
      padding-bottom: 1rem;
      width: 100%;
      text-align: left;
    }
    .headermed .navbarmed .wrapper .menumed-item:nth-child(1) a {
      -webkit-transition-delay: 0.2s;
              transition-delay: 0.2s;
    }
    .headermed .navbarmed .wrapper .menumed-item:nth-child(2) a {
      -webkit-transition-delay: 0.3s;
              transition-delay: 0.3s;
    }
    .headermed .navbarmed .wrapper .menumed-item:nth-child(3) a {
      -webkit-transition-delay: 0.4s;
              transition-delay: 0.4s;
    }
    .headermed .navbarmed .wrapper .menumed-item:nth-child(4) a {
      -webkit-transition-delay: 0.5s;
              transition-delay: 0.5s;
    }
    .headermed .navbarmed .wrapper .menumed-item:not(:first-child) {
      margin-left: 0;
    }
    .headermed .navbarmed .wrapper .menumed-item a {
      padding: 1rem 25%; /*CHANGER LE COTE GAUCHE */
      opacity: 0;
      color: #80F !important;
      font-size: 2rem;
      font-weight: 600;
      
      -webkit-transform: translateX(-20px);
              transform: translateX(-20px);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    .headermed .navbarmed .navmed-toggle {
      display: block;
      position: fixed;
      right: 1rem;
      top: 1rem;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      z-index: 999;
    }
    .headermed .navbarmed .navmed-toggle span {
      display: block;
      width: 20px;
      height: 2px;
      background: lime;
      border-radius: 2px;
      margin-left: 14px;
    }
    .headermed .navbarmed .navmed-toggle span:nth-child(1) {
      margin-top: 16px;
    }
    .headermed .navbarmed .navmed-toggle span:nth-child(2) {
      margin-top: 4px;
      opacity: 1;
    }
    .headermed .navbarmed .navmed-toggle span:nth-child(3) {
      margin-top: 4px;
    }
    .headermed .navbarmed #navmed:checked + .navmed-toggle {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    .headermed .navbarmed #navmed:checked + .navmed-toggle span {
      background: lime;
      -webkit-transition: -webkit-transform 0.5s ease;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    }
    .headermed .navbarmed #navmed:checked + .navmed-toggle span:nth-child(1) {
      -webkit-transform: translateY(6px) rotate(180deg);
              transform: translateY(6px) rotate(180deg);
    }
    .headermed .navbarmed #navmed:checked + .navmed-toggle span:nth-child(2) {
      opacity: 0;
    }
    .headermed .navbarmed #navmed:checked + .navmed-toggle span:nth-child(3) {
      -webkit-transform: translateY(-6px) rotate(90deg);
              transform: translateY(-6px) rotate(90deg);
    }
    .headermed .navbarmed #navmed:checked ~ .wrapper {
      z-index: 99;
      opacity: 1;
    }
    .headermed .navbarmed #navmed:checked ~ .wrapper .menumed-item a {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  /*# sourceMappingURL=nav.css.map */